.upload-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.upload-form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.upload-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.upload-form input,
.upload-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.upload-form textarea {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #0070f3;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #005bb5;
}

.logout-button {
  width: 15%;
  align-content: flex-end;
  padding: 12px;
  background: #ef5e32;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.logout-button:hover {
  background: #005bb5;
}

.message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

.tooltip {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  animation: fadeInOut 3s forwards;
  z-index: 1000;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
